
include includes/nav
.container
  .hero-unit
    h1 About Aletheia
    p Allowing ideas to be added and grants the ability to vote them up or down.
    p
      a.btn.btn-primary.btn-large.pull-right(href="/") Go Vote >>